!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/css/screen.css'}
  %body{:style=>"width:800px"}
    -# iframe hack to make safari tell us who the current user is under HTTP_Auth Basic
    .signin
      - if authenticated?
        You are logged in as
        %strong= current_user
        -# %a{:href => '/logout'} logout
      - else
        %a{:href => '/login'} Sign in


