- if authenticated?
  .followedList
    You are following:
    - if @current_user.following.count > 0
      %ul
        - @current_user.following.each do |fo|
          %li 
            %a{:href=>'/users/%s' % fo}= fo
    -else
      .nobody Nobody yet. Get on board!
        
    = partial :findform

