
%link{:type=>'text/css', :rel=>'stylesheet', :href=>'/css/openid.css'}
%script{:type=>'text/javascript', :src=>'/js/jquery.openid.js'}

%script{:type=>'text/javascript'}
  $(function() { $("form.openid").openid(); });

.login
  %h1 Please, identify yourself.

  %form{:action=>'/login/openid', :class=>'openid', :method=>'POST',:enctype=>"multipart/form-data"}
    %ul.providers
      %li.openid
        %img{:src => "/img/openid/openidW.png", :alt=>'OpenID Login is available'}
        %span
          %strong http://{your-openid-url} 
      %li.direct{:title => "Google"}
        %img{:src => "/img/openid/googleW.png", :alt=>"icon"}
        %span https://www.google.com/accounts/o8/id
      %li.direct{:title => "Yahoo!"}
        %img{:src=>"/img/openid/yahooW.png", :alt=>"icon"}
        %span http://yahoo.com/

      %li.username{:title => "AOL screen name"}
        %img{:src=>"/img/openid/aolW.png", :alt=>"icon"}
        %span http://openid.aol.com/username

      %li.username{:title => "MyOpenID user name"}
        %img{:src=>"/img/openid/myopenid.png", :alt=>"icon"}
        %span http://username.myopenid.com/

      %li.username{:title => "Flickr user name"}
        %img{:src=>"/img/openid/flickr.png", :alt=>"icon"}
        %span http://flickr.com/username/

      %li.username{:title => "Technorati user name"}
        %img{:src=>"/img/openid/technorati.png", :alt=>"icon"}
        %span http://technorati.com/people/technorati/username

      %li.username{:title => "Wordpress blog name"}
        %img{:src=>"/img/openid/wordpress.png", :alt=>"icon"}
        %span http://username.wordpress.com

      %li.username{:title => "Blogger blog name"}
        %img{:src=>"/img/openid/blogger.png", :alt=>"icon"}
        %span http://username.blogspot.com/

      %li.username{:title => "LiveJournal blog name"}
        %img{:src=>"/img/openid/livejournal.png", :alt=>"icon"}
        %span http://username.livejournal.com

      %li.username{:title => "ClaimID user name"}
        %img{:src=>"/img/openid/claimid.png", :alt=>"icon"}
        %span http://claimid.com/username

      %li.username{:title => "Vidoop user name"}
        %img{:src=>"/img/openid/vidoop.png", :alt=>"icon"}
        %span http://username.myvidoop.com/

      %li.username{:title => "Verisign user name"}
        %img{:src=>"/img/openid/verisign.png", :alt=>"icon"}
        %span http://username.pip.verisignlabs.com/

    %fieldset
      %label{:for => 'openid_username'} 
        Enter your 
        %span OpenID Provider Key
      .inpo
        %span 
        %input{:name=>'openid_username'}
        %span 
        %input{:name=>'op_openid', :type=>'submit', :value=>"Login"}

    %fieldset
      %label{:for => 'openid_identifier'} 
        Enter your 
        %a.openid_logo{:href=>'http://openid.net'} OpenId
      .inpo
        %input{:name=>'openid_identifier'}
        %input{:name=>'op_openid', :type=>'submit', :value=>"Login"}

    .userNotice
      OpenID allows you to use your account on another site to login here. We
      never have access to your personal information.
      %a{:href=>'http://openid.net'} More...

  %form{:action=>'/login', :method=>'POST',:enctype=>"multipart/form-data"}
    %fieldset
      %legend Local Login
      %label{:for => 'username'} Username
      %input{:name=>'username'}
      %label{:for => 'password'} Password
      %input{:name=>'password'}
      %input{:name=>'op', :type=>'submit', :value=>"login"}

