.postform
  %form{:action=>'/new', :method=>'POST',:enctype=>"multipart/form-data"}
    %div
      %textarea{:name=>'chirp', :rows=>3} Say something.
    %div
      %input{:name=>'url', :value=>"link something."}
    %div
      Upload Something
      %input{:name=>'pic', :type=>'file' } 
    %div
      %input{:name=>'op_post', :type=>'submit', :value=>"share"}
