.postform
  %form{:action=>'/chirp', :method=>'POST',:enctype=>"multipart/form-data"}
    %fieldset
      .postmsg
        %label{:for => 'chirp'} Say something.
        %textarea{:name=>'chirp', :rows=>3} 

      .tabs

        .tab.link
          %label
            link something.
            %input{:name=>'url', :value=>"http://"}

        .tab.upload
          %label
            upload something.
            %input{:name=>'pic', :type=>'file' } 

      .btn
        %input{:name=>'op_post', :type=>'submit', :value=>"share"}
