.postform
  %form{:action=>'/chirp', :method=>'POST',:enctype=>"multipart/form-data"}
    %fieldset
      %label{:for => 'chirp'} Say something.
      %textarea{:name=>'chirp', :rows=>3} 

      .tab
        %label 
          link something.
          %input{:name=>'url', :value=>""}

      .tab
        %label 
          upload something.
          %input{:name=>'pic', :type=>'file' } 

      .btn
        %input{:name=>'op_post', :type=>'submit', :value=>"share"}
