%h1 Post a new message
.signin
  %a{:href => '/signup'} Sign up
  |
  %a{:href => '/signin'} Sign in

.postform
  %form{:action=>'/new', :method=>'POST'}
    %textarea{:name=>'chirp', :rows=>3} Say something.
    %input{:name=>'url', :value=>"link something."}
    // %input{:name=>'pic', :value=>"post something."}
    %input{:name=>'op_post', :type=>'submit', :value=>"share"}
