.postform
  %form{:action=>'/chirp', :method=>'POST',:enctype=>"multipart/form-data"}
    %fieldset
      %label{:for => 'chirp'} Say something.
      %textarea{:name=>'chirp', :rows=>3} 

      .tab.link
        %label
          link something.
          %input{:name=>'url', :value=>""}

      .tab.upload
        %label
          upload something.
          %input{:name=>'pic', :type=>'file' } 

      .tab.event
        %label.event
          schedule something.
          %input{:name=>'title', :value=>""}
          %input{:name=>'location', :value=>""}
          %input{:name=>'time', :value=>""}

      .btn
        %input{:name=>'op_post', :type=>'submit', :value=>"share"}
