.profile
  %h3= "%s's profile" % auth_username

  .followers 
    =partial :followed_list

    %h4 Followers
    - followers = @current_user.followers(auth_username)
    .follower
      - if followers.count == 0 
        None yet. Sorry!
      - followers.each do |fo|
        = fo['username']


  


