= partial :signin_links

.profile
  %h3= "%s's profile" % auth_username

  - if @profile.avatar
    .profile-pic
      %img{:src => db_image_src(@profile.avatar)}

  =partial :followed_list

  .postform
    %form{:action=>'/profile', :method=>'POST',:enctype=>"multipart/form-data"}
      %div
        %label{:for => 'biog'} About you.
        %textarea{:name=>'biog', :rows=>3}= @profile.biography
      %div
        %label 
          Your website.
          %input{:name=>'url', :value=>@profile.website}
      %div
        %label 
          Your picture.
          %input{:name=>'avatar', :type=>'file' } 
      %div
        %label 
          Your background.
          %input{:name=>'background', :type=>'file' } 
      %div
        %input{:name=>'op_post', :type=>'submit', :value=>"update"}
  


  .followers 

    %h4 Followers
    - followers = get_followers_for_user(auth_username)
    .follower
      - if followers.nil? or followers.count == 0 
        None yet. Sorry!
      - else
        - followers.each do |fo|
          = fo['username']


