= partial :signin_links

.profile
  %h3= "%s's profile" % auth_username

  - if @profile.get('pic')
    .profile-pic
      %img{:src => '/images/'+@profile.get('pic').to_s}

  =partial :followed_list

  .postform
    %form{:action=>'/profile', :method=>'POST',:enctype=>"multipart/form-data"}
      %div
        %label{:for => 'biog'} About you.
        %textarea{:name=>'biog', :rows=>3}= @profile.get('biography')
      %div
        %label 
          Your website.
          %input{:name=>'url', :value=>@profile.get('website')}
      %div
        %label 
          Your picture.
          %input{:name=>'pic', :type=>'file' } 
      %div
        %label 
          Your background.
          %input{:name=>'background', :type=>'file' } 
      %div
        %input{:name=>'op_post', :type=>'submit', :value=>"update"}
  


  .followers 

    %h4 Followers
    - followers = @current_user.followers(auth_username)
    .follower
      - if followers.count == 0 
        None yet. Sorry!
      - followers.each do |fo|
        = fo['username']


