
= partial :signin_links

= partial :followed_list

.dopost
  = partial :new_post

%p
  %strong here's what the birdies are singing about right now:

- if @chirps.length > 0
  = partial :chirplist

- else
  %p Nothing yet! be the first!

