
= partial :signin_links

.dopost
  = partial :new_post

- if authenticated?
  = @current_user.who_follows

%p
  %strong here's what the birdies are singing about right now:

- if @chirps.length > 0
  = partial :chirplist

- else
  %p Nothing yet! be the first!

