body {
  background: #eee;
  color: #333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: url(/waxwings.jpg) fixed no-repeat;
}
a {
    color: #08b;
}
.postform {
    margin: 20px 0;
}
#container {
  margin: 0 auto;
  width: 800px;
}
#header {
  padding: 0.5em 0 0 0;
  margin: 0;
  text-align: center;
  border-bottom: 3px solid #000;
}
#content {
  padding: 0;
  margin: 0;
}
#footer {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  border-top: 3px solid #000;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 1.8em; text-align: left; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
  background: #eee;
}
.signin {
    background: #eee;
}
.userNotice {
    font-weight: bold;
    background: #eee;
}
.userError {
    font-weight: bold;
    background: #eee;
    color: #b80;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#logo a:hover {
  text-decoration: none;
}
ul.chirplisthome {
    list-style: none;
    margin:0;
    padding: 0;
}
ul.chirplisthome li {
    border-top: 1px solid #08b;
    padding: 0.5em 1em;
    background: #eee;
    margin: 0.5em 0;
}
ul.chirplisthome .user {
    border-bottom: 1px dashed #aaa;
    padding-bottom: 0.1em;
}

.postform, .followedList, .searchResult {
    border: 1px solid #aaa;
    background: #eee;
    padding: 0.5em 1em;
}
.postform textarea, 
.postform input {
    border: 1px solid #111;
    background: #fff;
}
.postform textarea {
    width: 40em;
    height: 5em;
}
.postform label {
    display: block;
}
#openid_url {
  background: url(http://openid.net/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

.followedList {
    float: right;
}
.profile h3, .followers .follower {
  background: #eee;
}
