body {
  background: #fff;
  color: #222;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: url(/waxwings.jpg) fixed no-repeat;
}
/* kuler Add 2 #887994 */
a {
    color: #1c3a4c;
}
.postform {
    margin: 20px 26% 20px 0;
}
#container {
  margin: 0 auto;
  width: 800px;
}
#header {
  padding: 0.5em 0 0 0;
  margin: 0;
  text-align: center;
  border-bottom: 3px solid #1c3a4c;
}
#content {
  padding: 0;
  margin: 0;
}
#footer {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  border-top: 3px solid #000;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 1.8em; text-align: left; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
  background: #eee;
}
.signin {
    background: #fff;
}
.userNotice {
    font-weight: bold;
    background: #eee;
}
.userError {
    font-weight: bold;
    background: #eee;
    color: #bf2d1f;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#logo a:hover {
  text-decoration: none;
}
ul.chirplisthome {
    list-style: none;
    margin:0;
    padding: 0;
    margin-right: 26%;
}
ul.chirplisthome li {
    border-top: 1px solid #1c3a4c;
    padding: 0.5em 1em;
    background: #809ca8;
	-webkit-border-bottom-right-radius:6px; 
	-moz-border-radius-bottomright:6px; 
	-webkit-border-bottom-left-radius:6px; 
	-moz-border-radius-bottomleft:6px; 
    margin: 0.5em 0;
}
ul.chirplisthome .user {
    border-bottom: 1px solid #1c3a4c;
}

.postform, .followedList, .searchResult {
    background: #f2e8b3;
    padding: 0.5em 1em;
	border:1px solid rgba(0, 0, 0, 0.25); 
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
    border-color: #3d2f27;
}
.postform fieldset {
    color: #222;
    position: relative;
    margin: 0;
    border: 0;
    padding: 15px;
}
.postform textarea, 
.postform input {
    border: 1px solid #eee;
    background: #fff;
}
.postform textarea {
    width: 28em;
    height: 4em;
    font-family: sans;
    margin: 0;
    padding: 0.5em;
}
.postform label {
    display: block;
}
.postform .postmsg {
    position: relative;
    float: left;
}
.postform .tabs {
    float: left;
    width: 27px;
    margin-top: 2em;
}
.postform .tab {
    position: relative;
    width: 27px;
    height: 27px;
    margin: 4px 7px;
    cursor: pointer;
    background-image: url(/img/backtopixel_full.png);
    background-repeat: no-repeat;
}
.postform .tab label {
    display: none;
    position: absolute;
    z-index: 11;
    left: 0;
    padding: .4em 1em .4em 30px;
    background: #809ca8;
    border: 1px solid #1c3a4c;
    border-width: 1px 1px 1px 0;
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
}
.postform .tab:hover label {
    display: block;
}
.postform .link {
    background-position: -58px -87px;
}
.postform .link:hover {
    background-position: -58px -339px;
}
.postform .upload {
    background-position: -198px -114px;
}
.postform .upload:hover {
    background-position: -198px -366px;
}
.postform .event {
    background-position: -198px -30px;
}
.postform .event:hover {
    background-position: -198px -282px;
}
.postform .btn {
    text-align: right;
}
.btn input {
    font-size: 120%;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	background: #332720;
	border:1px solid rgba(0, 0, 0, 0.25); 
	color: #fff; 
	padding: 6px 10px 7px 10px; 
	text-shadow: 0px -1px 1px #69993c;
	-webkit-border-radius:6px; 
	-moz-border-radius:6px; 
	font-weight:bold;
	cursor:pointer;
	margin:0px;
    
    
}
.btn input:hover {
	background: #3d2f27;
}
.postform .btn {
    padding-top: 20px;
    clear: left;
}

#openid_url {
  background: url(http://openid.net/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

.followedList {
    float: right;
    max-width: 20%;
    margin-top: 20px;
}
.profile h3, .followers .follower {
  background: #eee;
}
.chirp-pic img {
    max-height: 200px;
    max-width: 200px;
}
.profile-pic img {
    max-height: 60px;
    max-width: 60px;
}

.replybtn a {
    float: right;
    border: 1px solid #1c3a4c;
    background: #809ca8;
    padding: 2px 8px;
	-webkit-border-bottom-right-radius:6px; 
	-moz-border-radius-bottomright:6px; 
	-webkit-border-bottom-left-radius:6px; 
	-moz-border-radius-bottomleft:6px; 
}

.reply {
    margin-left: 1em;
    margin-top: 1em;
}
ul.chirplisthome .reply .user {
    border-bottom: 1px dashed #1c3a4c;
}

